* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: "Roboto", "Arial", sans-serif;
  outline: none;
}

/* table effect */
table {
  width: 100%;
  border-collapse: collapse;
}

tr,
td,
th {
  border: 1px solid white;
}

.page_title {
  display: block;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background: #ffecec;
  margin-bottom: 10px;
}

/* top right button effect */

.min_icon {
  display: flex;
  margin-left: 100px;
  flex: 0.3;
}

.icon_btn {
  height: 35px;
  width: 110px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.icon_btn:hover {
  background: #ff9d00;
}

.staff {
  /* height: 10px; */
  margin-left: 40px;
  padding-top: 68px;
}

.home {
  padding-top: 68px;
  margin-left: 40px;
}

.logout {
  margin-left: 40px;
  padding-top: 68px;
}

.notic {
  display: inline-block;
  position: relative;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.7rem;
  color: red;
}

/* search function effect */

.search {
  display: inline;
  float: right;
}

.search_bar {
  height: 30px;
  border: 2px solid;
  padding-left: 10px;
}

.search_bar input {
  height: 18px;
}

input::placeholder {
  padding-left: 10px;
}

.search_btn {
  width: 35px;
  height: 32px;
  cursor: pointer;
  margin-right: 20px;
}

.searchBy {
  height: 30px;
  margin-right: 20px;
  border: 2px solid;
}

.sort_btn {
  width: 40px;
  height: 33px;
  padding: 1px;
  margin-right: 20px;
  cursor: pointer;
}

.sort-order {
  height: 32px;
  border: 2px solid;
}

.history_title {
  background-color: #b8bbbb;
}

.search {
  margin-bottom: 20px;
  display: block;
  float: right;
}

/* item detail in table effect */

table td {
  padding-left: 10px;
  height: 50px;
  width: 120px;
}

.itemDetail_format {
  font-size: 20px;
  cursor: pointer;
}

.delete_btn {
  display: inline-block;
  position: absolute;
  left: 1840px;
  background: transparent;
  border: 0;
  margin-top: 12px;
  cursor: pointer;
}

.item_img {
  width: 100px;
  padding-left: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.extend_title tr td {
  background-color: #c3c6c4;
  font-weight: bold;
  color: #fff;
}

label {
  font-size: 20px;
  font-weight: 500;
}

/* hide the checkbox */

[data-toggle="toggle"] {
  width: 0px;
}

.item_data {
  font-size: 20px;
  padding-left: 20px;
}

.totalPrice {
  color: red;
  font-weight: bold;
  text-align: center;
}

/* hide the item detail row effect */

.hide_itemDetail tr th {
  font-size: 25px;
}

.hide_itemDetail {
  display: none;
}

.collapsible:after {
  content: "\25B6";
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

.active:after {
  content: "\025BC";
}

.order_row {
  background-color: #d6eeee;
}

.detail_row {
  background-color: #c8c8c8;
  height: 50px;
}

.status {
  text-align: center;
}

main {
  margin-top: 130px;
  margin-left: 10px;
  margin-right: 10px;
}

/*all menu property*/
.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgb(180, 180, 180);
}

/*side menu*/
.hamburger-menu {
  margin: 40px 20px;
  cursor: pointer;
  position: relative;
}

/* side menu's bar */
.bar {
  display: block;
  width: 35px;
  height: 4px;
  margin: 5px;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

/* web page title */
.company-name {
  font-size: 50px;
  font-weight: 700;
  display: block;
  margin-left: 30px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 2px rgb(116, 116, 116);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* hamburger menu and social media icon's hint, opacity default 0 */
.tip {
  display: flex;
  position: absolute;
  justify-content: center;
  font-size: 13px;
  right: 0;
  left: 0;
  color: white;
  border: 1px solid rgba(196, 196, 196, 0.2);
  border-radius: 3px;
  background-color: gray;
  pointer-events: none;
  transition: opacity 0.15s;
  opacity: 0;
  padding: 4px;
  bottom: -60px;
}

.delete_title {
  opacity: 0;
  color: white;
  position: absolute;
  background: #ff0000;
  padding: 6px;
  top: -10px;
  right: 70px;
  border: 0;
  border-radius: 5px;
  pointer-events: none;
  transition: opacity 0.15s;
}

.delete_btn:hover .delete_title {
  opacity: 1;
}

/* when hover the area, the hint will show below */

.hamburger-menu:hover .tip {
  opacity: 1;
}

.nav-choice {
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-choice a {
  font-size: 25px;
  font-weight: 500;
  color: white;
  text-shadow: 4px 4px 2px gray;
}

.nav-choice a:hover {
  color: rgb(5, 255, 1);
}

.side-social-media a {
  position: relative;
}

.side-social-icon {
  height: 45px;
  margin: 25px;
}

/*side menu under hamburger icon,  default hide*/
.side-bar {
  position: fixed;
  top: 110px;
  width: 200px;
  height: 100vh;
  background-color: rgb(180, 180, 180);
  z-index: 200;
  left: -100%;
  transition: all 0.15s ease-in-out;
  z-index: 999;
}

/*for javascript to toggle when click the hamburger*/
.side-bar.active_bar {
  left: 0;
}

.side-bar-link {
  display: flex;
  flex-direction: column;
}

.side-bar-link a {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 40px;
  margin-left: 25px;
  margin-top: 50px;
  text-shadow: 4px 4px 2px gray;
  color: #ffffff;
}

.side-bar-link a:hover {
  color: rgb(5, 255, 1);
}

/* status of hambuger manul change to cross*/
.hamburger-menu.active_bar .bar:nth-child(1) {
  transform: translate(0, 9px) rotate(45deg);
}

.hamburger-menu.active_bar .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active_bar .bar:nth-child(3) {
  transform: translate(0, -9px) rotate(-45deg);
}
